html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
.main {
  width: 100vw;
  min-width: 99vw;
  height: 100vh;
}
.header {
  width: 100%;
  display: flex;
  z-index: 3;
  justify-content: space-between;

  background: rgba(0, 76, 127, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);

  position: fixed;
  color: #fff;
  .logo {
    width: 50%;
    padding: 2rem;
    img {
      object-fit: contain;
      width: min-content;
      width: 40%;
    }
  }
  .links {
    width: 50%;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: space-evenly;
    a {
      color: #fff;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
.mainContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  .photoBackgroud {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .content {
    z-index: 2;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    .h1Holder {
      width: 60%;
      padding-left: 4rem;
      h1 {
        font-size: 4.5em;
        color: #fff;
      }
    }
    .details {
      width: 50%;
      font-size: 2rem;
      padding: 2.5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .separator {
        width: 5px;
        color: aqua;
        background-color: aqua;
      }
    }
  }
}
.education {
  background: #eaeaea;
  width: 100%;
  z-index: inherit;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .wrapper {
    width: 75%;
    padding: 2rem;
    text-align: center;
    h1 {
      font-size: 3.5rem;
    }
    p {
      font-size: 1.75rem;
    }
  }
  .courses {
    width: 100%;
    padding: 2rem;
    h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }
    .coursesWrapper {
      width: 100%;
      margin: auto;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 33%;
        padding: 1rem;
        background: rgb(24, 39, 101);
        background: linear-gradient(
          90deg,
          rgba(24, 39, 101, 1) 0%,
          rgba(36, 117, 139, 1) 100%
        );
        border-radius: 10px;
        border: none;
        box-shadow: 19px 19px 10px -4px rgba(0, 0, 0, 0.09);
        -webkit-box-shadow: 19px 19px 10px -4px rgba(0, 0, 0, 0.09);
        -moz-box-shadow: 19px 19px 10px -4px rgba(0, 0, 0, 0.09);
        img {
          width: 50%;
          max-width: 50%;
          margin-right: 1rem;
        }
        .titles {
          width: 100%;
          text-align: center;
          flex-direction: column;

          .top {
            color: #68c3ec;
            width: 100%;
            font-style: italic;
            font-size: 1rem;
            text-align: left;
            font-weight: bolder;
          }
          .bottom {
            font-size: 1.7rem;
            font-weight: bolder;
            font-style: italic;
            text-align: start;
            width: 80%;
            color: #fff;
          }
        }
      }
    }
    .careers {
      width: 100%;
      padding: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .item {
        padding: 1.5rem;
        border-radius: 1rem;
        display: flex;
        height: 11.5rem;
        flex-direction: column;
        color: #fff;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        width: 15%;
        max-height: 100%;
        background: #182765;
        box-shadow: (10px 10px 10px #423f3f);
        //filter: drop-shadow(23px 16px 17px #423f3f);
        img {
          width: 50%;
          max-width: 80%;
        }
      }
    }
  }
}
.talent {
  width: 100%;
  display: flex;
  flex-direction: row;
  .leftSide {
    width: 45%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background: rgb(24, 39, 101);
    background: linear-gradient(
      90deg,
      rgba(24, 39, 101, 1) 0%,
      rgba(36, 117, 139, 1) 100%
    );
    p {
      width: 50%;
      margin-right: 2rem;
      text-align: end;
      font-weight: bold;
      color: #fff;
      font-size: 4rem;
    }
  }
  .rightside {
    width: 55%;
    display: flex;
    flex-direction: column;
    background-color: #aeaeae;
    .buttonsWrapper {
      width: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem;
        height: max-content;
        background: #fff;
        border-radius: 50px;
        margin: 1rem 0;
        box-shadow: (10px 10px 10px #423f3f);

        .imgWrapper {
          width: 25%;
          img {
            margin-left: 1rem;
            max-width: 100%;
          }
        }

        p {
          width: 75%;
          margin: 0;
          font-weight: bolder;
          font-size: 2rem;
        }
      }
    }
  }
}
.sectionSeparator {
  width: 100%;
  background: rgb(20, 31, 76);
  background: linear-gradient(
    90deg,
    rgba(20, 31, 76, 1) 70%,
    rgba(36, 117, 139, 1) 100%
  );
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: #fff;
    font-size: 3rem;
    font-weight: bolder;
  }
}
.teachers {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: rgb(24, 39, 101);
  background: linear-gradient(
    90deg,
    rgba(24, 39, 101, 1) 70%,
    rgba(36, 115, 138, 1) 100%
  );
}
.video {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0;
  margin-top: 1rem;
  width: 100%;
  .videoLeft {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .videoRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    background-color: transparent;
    .title {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .titleWithLine {
        padding: 0;
        width: 50%;
        color: #fff;
        font-size: 3rem;
        font-weight: 600;
        margin: 0;
        text-align: left;
        border-bottom: 2px solid;
        border-image-slice: 1;
        border-width: 2px;
        border-image-source: linear-gradient(to right, #238ddd, #94e3f5);
      }
    }
    .description {
      color: #fff;
      font-size: 2rem;
      font-weight: 300;
      line-height: 2.5rem;
      letter-spacing: 0.1rem;
      padding-right: 7em;
      text-align: left;
    }
    .knowMore {
      width: fit-content;
      text-align: left;
      padding: 0.5rem 1.5rem;
      font-size: 1.2rem;
      justify-content: flex-start;
      background: transparent;
      color: #fff;
      cursor: pointer;
      border: 3px solid;
      border-image-slice: 1;
      border-width: 5px;
      border-image-source: linear-gradient(to right, #238ddd, #94e3f5);
    }
  }
}
.teacherItem {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;

  max-width: 700px;
  .leftSide {
    width: 15%;

    margin: 1rem;
    .photoWrapper {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: rgb(35, 141, 221);
      background: linear-gradient(
        90deg,
        rgba(35, 141, 221, 1) 70%,
        rgba(148, 227, 245, 1) 100%
      );
    }
  }
  .rightSide {
    width: 75%;
    display: flex;
    flex-direction: column;
    .nameHolder {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      img {
        min-width: 10%;
        max-height: 60px;
      }
      p {
        justify-items: start;
        width: 40%;
        margin: 0;
        color: #fff;
        text-align: left;
        font-weight: 450;
        font-size: 2.3rem;
        word-break: break-word;
      }
    }
    .desc {
      width: 100%;
      text-align: justify;
      margin-left: 1rem;
      color: #fff;
    }
  }
  .seeTeacherButton {
    padding: 0.5rem;
    width: fit-content;
    text-align: left;
    justify-content: flex-start;
    background: transparent;
    color: #fff;
    cursor: pointer;
    border: 3px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to right, #238ddd, #94e3f5);
  }
}

@media screen and (max-width: 992px) {
  .education {
    .courses {
      .coursesWrapper {
        flex-direction: column;
        .item {
          width: 100%;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }
      }
      .careers {
        flex-wrap: wrap;
        .item {
          margin: 1rem;
          width: 25%;
        }
      }
    }
  }
}
